.lessons {
  padding: 27px 101px 0 92px;

  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px 80px;
  }

  &__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding: 37px 12px;
    background: #31E238;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center; // position: relative;

    &:disabled {
      background-color: rgb(126, 126, 126);
    }

    &_red {
      background-color: rgb(130, 17, 17);
    }

  }

  &__title {
    text-align: center;
  }

  &__data {
    text-align: center;
  }

  &__name {
    display: none;
  }
}

.btns {
  display: flex;

  &__item {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #c0d822;
  }
}

@media (max-width: 1440px) {
  .lessons {
    padding: 21px 55px;

    &__container {
      gap: 25px 69px;
    }

    &__item {
      font-size: 14px;
      line-height: 18px;
      padding: 27px 8px;
    }

    &__name {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 21px;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .lessons {
    &__container {
      gap: 25px 69px;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .lessons {
    padding: 21px 55px;

    &__container {
      gap: 27px 35px;
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {}

    &__name {}
  }
}

@media (max-width: 610px) {
  .lessons {
    &__container {
      gap: 27px 35px;
      grid-template-columns: repeat(3, 1fr);
    }

  }
}

@media (max-width: 425px) {
  .lessons {
    padding: 21px 55px;

    &__name {
      margin-bottom: 23px;
    }

    &__container {
      gap: 25px 69px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 360px) {
  .lessons {
    padding: 21px 26px;
  }
}