.authorization {
  display: grid;
  grid-template-columns: 367fr 1186fr 367fr;
  @media (max-width: 768px) {
    grid-template-columns: 200fr 1186fr 200fr;
  }
  @media (max-width: 360px) {
    grid-template-columns: 1fr;
  }

  &__block {
    background-color: #262D38;
    @media (max-width: 360px) {
      display: none;
    }
  }

  &__container {
    background-color: #FFFFFF;
    padding: 51px 157px 134px 131px;
    @media (max-width: 1194px) {
      padding: 32px 77px 69px;
    }
    @media (max-width: 768px) {
      padding: 30px 50px 60px;
    }
    @media (max-width: 360px) {
      padding: 28px 26px 61px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 79px;
    text-align: center;
    color: #000000;
    margin-bottom: 73px;
    @media (max-width: 1194px) {
      font-size: 40px;
      line-height: 53px;
      margin-bottom: 57px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 28px;
    }
  }

  &__btn {
    background-color: #2CA3DC;
    border-radius: 15px;
    padding: 20px 38px;
    display: flex;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 1194px) {
      font-size: 24px;
      line-height: 32px;
      padding: 16px 32px;
    }
  }
}

.login {

  &__text {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 15px;
    @media (max-width: 1194px) {
      font-size: 28px;
      line-height: 37px;
      margin-bottom: 19px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__input {
    width: 100%;
    border: 1px solid #000;
    padding: 5px 10px;
    font-size: 30px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 15px;
    @media (max-width: 1194px) {
      font-size: 28px;
      line-height: 37px;
      margin-bottom: 57px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 46px;
    }
  }
}

.password {
  &__text {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 15px;
    @media (max-width: 1194px) {
      font-size: 28px;
      line-height: 37px;
      margin-bottom: 19px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #000;
    font-size: 30px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 51px;
    @media (max-width: 1194px) {
      font-size: 28px;
      line-height: 37px;
      margin-bottom: 57px;
    }
    @media (max-width: 360px) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 71px;
    }
  }
}


