.office {
  display: grid;
  grid-template-columns: 370fr 1550fr;

  @media (max-width: 1194px) {
    grid-template-columns: 84fr 1110fr;
  }

  @media (max-width: 1194px) {
    grid-template-columns: 95fr 1110fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 123fr 1110fr;
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}